.section-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url('./img/fondoSeccion4.png');
    background-position: center;
    background-size: cover;
}

.container-redes-h1 {
    display: flex;
    width: 100%;
    height: 40%
}

.container-redes-h1 h1 {
    margin-top: 30px;
    color: white;
    font-weight: lighter;
    text-align: center;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
}

.container-logo-BKB {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}

.container-logo-BKB img {
    width: 55%;
    height: auto;
}


.container-logos-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

.container-logos-redes img {
    width: 25%;
    height: auto;
}

.copy-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

.copy-right h6 {
    color: white;
    font-weight: lighter;
    text-align: center;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}

@media (min-width: 375px) {

    .container-logo-BKB img {
        width: 45%;
        height: auto;
    }

}

@media (min-width: 425px) {

    .container-redes-h1 {
        text-align: center;
        justify-content: center;
}
    
}

@media (min-width: 500px) {

    .container-redes-h1 h1 {
        font-size: 30px;
    }

    .container-logo-BKB img {
        width: 35%;
        height: auto;
    }

    .copy-right h6 {
    color: white;
    font-weight: lighter;
    text-align: center;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    }

    .container-logos-redes img {
    width: 20%;
    }

}

@media (min-width: 625px) {

    .container-redes-h1 h1 {
        font-size: 35px;
        margin-top: 30px;
    }

    .container-logo-BKB img {
        width: 30%;
        height: auto;
    }

    .container-logos-redes img {
    width: 15%;
    }
    
}

@media (min-width: 768px) {

    .container-redes-h1 {
        align-items: center;
    }

    .container-redes-h1 h1 {
        font-size: 40px;
    }

    .container-logo-BKB img {
        width: 30%;
    }

    .container-logos-redes {
        margin-top: 50px;
    }

    .container-logos-redes img {
    width: 20%;
    }

    .copy-right h6 {
        font-size: 15px;
    }
}

@media (min-width: 1024px) {

    .container-redes-h1 {
        align-items: center;
    }

    .container-redes-h1 h1 {
        font-size: 45px;
    }

    .container-logo-BKB img {
        width: 25%;
    }

    .container-logos-redes img {
    width: 15%;
    }

    .copy-right h6 {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {

    
    .container-redes-h1 {
        align-items: center;
    }

    .container-redes-h1 h1 {
        font-size: 70px;
    }

    .container-logo-BKB img {
        width: 22%;
    }

    .container-logos-redes img {
    width: 12%;
    }

    .copy-right h6 {
        font-size: 20px;
    }
}

@media (min-width: 2000px) {

    .container-redes-h1 {
        align-items: center;
    }
    
    .container-redes-h1 h1 {
        font-size: 100px;
    }

    .copy-right h6 {
        font-size: 48px;
    }

}