.container-section-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.container-servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
}

.container-servicios img {
    width: 12%;
    height: auto;
}

.container-servicios h1 {
    color: white;
    font-weight: lighter;
    text-align: start;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
}

.container-cards-servicios {
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 20%;
    background-color: #141412;
    border-radius: 15px;
    padding: 10px;
    outline: white solid 1px;
}

.card-servicios h2 {
    margin-bottom: 0px;
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.card-servicios p {
    margin-top: 5px;
    font-size: 13px;
    text-align: center;
    color: white;
}