body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url('./img/fondoSeccion1.png');
    background-position: center;
    background-size: cover;
}

.header-main {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav-container-1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img-logo-nav{
    width: 40%;
    margin: 5px;
}

.nav-container-2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 5px;
}

.link-turnos {
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.329);
    font-family: 'Roboto Slab', sans-serif;
    font-size: 12px;
    margin: 10px;
    padding: 8px 16px;
    border: 2px solid white;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}
.container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container-text-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45%;
    margin-top: 20px;
}

.container-text-h1 h1 {
    padding: 25px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: lighter;
    line-height: 1.5;
    text-align: center;
}

.container-logo-full {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    height: 55%;
}

.img-main {
    width: 150px;
    height: auto;
}

.section-2 {
    background-color: black;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.section-3 {
    background-color: #141412;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
}
