body {
    width: 100vw;
    height: 100vh;
    background-image: url('img/fondoTurnos.png');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.container-h1-turnos {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 30%;
}

.container-h1-turnos img {
    width: 40%;
    height: auto;
    object-fit: cover;
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 75%;
    margin: auto;
    margin-bottom: 25px;
    padding: 15px;
    outline: 1px solid white;
    border-radius: 30px;
    background-color: #141412c4
}


.container-form form {
    display: flex;
    flex-direction: column;
}

.container-datos-cliente, .datos-turno {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-size: 14px;
    font-family: 'Roboto Slab', sans-serif;
}

.container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-confirmar {
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.329);
    font-family: 'Roboto Slab', sans-serif;
    font-size: 12px;
    padding: 8px 16px;
    border: 1px solid white;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}