body {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0px;
    padding: 0px;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 50px;
}

.container-datos-cliente {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.datos-turno {
    display: flex;
    flex-direction: column;
    gap: 10px;
}