.navbar-side {
    background-color: black;
}

.nav-active {
    background-color: rgba(0, 0, 0, 0.8) !important; /* Negro con 80% de opacidad */
    padding: 10px 0; /* Un poco de aire arriba y abajo */
    transition: background-color 0.4s ease-in-out; /* Transición suave */
    
    /* Efecto Glassmorphism (opcional, se ve excelente) */
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px);
    
    /* Aseguramos que esté por encima de todo */
    z-index: 980; 
}

.uk-navbar-nav li a.botton-navbar-big {
    color: #ffffff !important;
}

.botton-navbar-big {
    color: white;
}

.img-navbar {
    width: 80px;
    height: auto;
}

@media(min-width: 1200px) {
    
    .botton-navbar-big {
        font-size: 19px;
}
}

.botton-navbar-big:hover {
    transform: scale(1.1);
    color: white;
}

.botton-navbar-big:active {
    transform: scale(0.95);
}

.button-nav-turnos:hover {
    background-color: rgba(255, 255, 255, 0.199);
    color: white;
}

@media (min-width: 1300px) {
    .slideshow-responsive, 
    .slideshow-responsive .slideshow-items,
    .slideshow-responsive .image-slide {
        height: 400px !important; /* Ajusta este valor a tu gusto (ej. 700px o 800px) */
    }
}

@media (min-width: 1440px) {
    .slideshow-responsive, 
    .slideshow-responsive .slideshow-items,
    .slideshow-responsive .image-slide {
        height: 500px !important; /* Ajusta este valor a tu gusto (ej. 700px o 800px) */
    }
}

.p-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; 
    font-size: 1.5rem; 
    line-height: 1.8;  
    letter-spacing: 0.5px;
    color: white; 
}

@media (min-width: 1300px) {
    
    .p-description {
        font-size: 18px;
        margin: 20px;
    }
}

@media (min-width: 1440px) {
    
    .p-description {
        font-size: 24px;
    }
}

.image-slide{
    border: 1px solid white;
    box-sizing: border-box;
}

.slide-button {
    color: black;
}

.slideshow-items {
    height:100%;
}

.first-p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
}

.second-section {
    background-color: black;
}

.h1-servicios {
    font-family: 'Alfa Slab One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}

@media(min-width: 960px) {
    
    .h1-servicios {
        font-size: 40px;
}
}

@media(min-width: 1200px) {
    
    .h1-servicios {
        font-size: 85px;
}
}

.button-turnos {
    background-color: #00000027;
    color: white;
    font-weight: bold;
    border: solid 1px white;
    border-radius: 5px;
}

.third-section {
    background-color: black;
}

.h3-cut{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
}

@media(min-width: 1200px) {
    .h3-cut {
        font-size: 30px;
    }
}

@media(min-width: 1400px) {
    .h3-cut {
        font-size: 40px;
    }
}


.h1-cut {
    font-family: 'Alfa Slab One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #FFFFFF;
}

@media(min-width: 1200px) {
    .h1-cut {
        font-size: 40px;
    }
}

@media(min-width: 1440px) {
    .h1-cut {
        font-size: 60px;
    }
}

.fondo-cut {
    background-attachment: fixed !important; 
    background-size: cover !important;
}

.card-suc {
    border-radius: 8px;
    border: solid 1px white;
    background-color: #00000027;
    color: white;
}

.card-suc-h3 {
    color: white;
}

.h1-redes {
    font-family: 'Alfa Slab One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}

@media(min-width: 960px) {
    
    .h1-redes {
        font-size: 40px;
}
}

@media(min-width: 1200px) {
    
    .h1-redes {
        font-size: 50px;
}
}

@media(min-width: 1440px) {
    
    .h1-redes {
        font-size: 65px;
}
}

.icon-redes {
    color: white;
}

.p-copyright {
    color: white;
}

@media(min-width: 960px) {
    
    .p-copyright {
        font-size: 20px;
}
}

.button-scroll-up {
    color:white;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
}

.button-scroll-up:hover {
    color:black;
    background-color: white;
}