.navbar-side {
    background-color: black;
}

.button-nav {
    color: white;
}

.button-nav-turnos {
    color: white;
    border-radius: 5px;
}

.button-nav-turnos:hover {
    background-color: rgba(255, 255, 255, 0.199);
    color: white;
}

.image-slide{
    border: 1px solid white;
    box-sizing: border-box;
}

.slideshow-items {
    height:100%;
}

.first-p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
}

.second-section {
    background-color: black;
}

.h1-servicios {
    font-family: 'Alfa Slab One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}

.button-turnos {
    background-color: #00000027;
    color: white;
    font-weight: bold;
    border: solid 1px white;
    border-radius: 5px;
}

.third-section {
    background-color: black;
}

.h3-cut{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
}

.h1-cut {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #FFFFFF;
}

.fondo-cut {
    background-attachment: fixed !important; 
    background-size: cover !important;
}

.card-suc {
    border-radius: 8px;
    border: solid 1px white;
    background-color: #00000027;
    color: white;
}

.card-suc-h3 {
    color: white;
}

.h1-redes {
    font-family: 'Alfa Slab One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}

.icon-redes {
    color: white;
}

.p-copyright {
    color: white;
}