databases:
  - name: BigKingBarberBigKingBarberBigKingBarber # Nombre EXACTO del servicio DB en Render
    plan: free
    databaseName: bkb_db_7huy # Nombre EXACTO de la base de datos
    user: bkb_db_7huy_user # Nombre EXACTO del usuario de la base de datos

services:
  - type: web
    plan: free
    name: web-bigkingbarber
    runtime: python
    
    # buildCommand debe estar así si tu build.sh está en la raíz:
    buildCommand: './build.sh' 
    
    startCommand: 'gunicorn web_BigKingBarber.wsgi' 
    
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          # Debe coincidir exactamente con el campo 'name' de arriba
          name: BigKingBarberBigKingBarberBigKingBarber 
          property: connectionString
      
      - key: DEBUG
        value: 0
        
      - key: SECRET_KEY
        generateValue: true
      
      - key: RENDER_EXTERNAL_HOSTNAME 
        fromService:
          type: web
          name: web-bigkingbarber
          property: host
      
      - key: WEB_CONCURRENCY
        value: 4